 /* swiper */
 .swiper {
    height: 100%;
    width: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }
  
  .swiper-slide img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mySwiper2 {
    height: 400px;
    width: 100%;
  }
  
  .mySwiper {
    margin-top: 5px;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100px;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }